html,
body {
    height: 100%;
    font-family: "PT Sans", sans-serif !important;
    font-weight: 100;
    color: #FFF;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.menuBtn {
    position: fixed;
    z-index: 100;
    margin-left: 2em;
    margin-top: -5em;
    background-color: #207cca;
    behavior: url(PIE.htc);
    color: #FFF;
    width: 4em;
    height: 4em;
    border: none;
}

.panel-title {
    font-family: "PT Sans";
    font-size: 3vmin;
}

.dayTitle {
    font-family: "PT Sans";
    font-size: 3.5vmin;
}

a {
    text-decoration: none !important;
}

.list-group {
    border: none !important;
}

.list-group-item {
    border: none !important;
}

.list-group-item-text {
    color: #848080;
}

.list-group-item-heading {
    font-size: 3vmin;
    font-family: "PT Sans";
}

.circle {
    border-radius: 50%;
}

.iconContainer {
    width: 200px;
    height: 200px;
    background-color: #FFF;
    border: 1px solid #dbdbdb;
}

.bold {
    font-weight: bold;
}

h1 {
    font-family: "Titillium Web";
    color: #acacac;
    text-shadow: 2px 2px 3px #929292;
}

.mainTitle {
    font-size: 8vmin;
}

.actionBtn {
    width: 125px;
    height: 64px;
    margin-top: 5.7vh;
    font-size: 1.2em;
}

.btn-primary {
    color: #fff;
    background-color: rgb(12, 135, 216);
    height: 50px;
    width: 200px;
    -webkit-transition: background-color 0.5s ease;
    /* Safari */
    transition: background-color 0.5s ease;
    font-weight: 100;
    font-size: 1.4em;
    border-radius: 50px;
    border: none;
    line-height: 35px;
}

.btn-primary:hover {
    background-color: rgb(11, 123, 198);
}

.btn-inverse {
    color: black;
    background-color: #FFF;
    border: 1px solid gray;
}

.btn-inverse:hover {
    color: black;
    background-color: #ededed;
    -webkit-transition: background-color 0.5s ease;
    /* Safari */
    transition: background-color 0.5s ease;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

.outerDiv {
    width: 100%;
}

.footer {
    background-color: black;
    width: 100%;
    height: 100%;
    line-height: 20vmin;
    vertical-align: middle;
}

#sect1 {
    padding-bottom: 7vh;
}

.gradientBackground {
    background-color: #fefeff;
    color: black;
}

.whiteBackground {
    background-color: #FFF;
    color: black;
    box-shadow: 300px 100px 100px black;
}

.feature:hover {
    background-color: #207cca;
    color: white;
    border: 1px solid #207cca;
    transition: background-color 0.4s ease;
}

.grayBackground {
    background-color: #f9f8f8;
    color: black;
}

.sect {
    padding: 3vw;
    font-size: 1.2em;
    font-weight: 200;
}