body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #1493e2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    color: white;

}

#banner {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 5.5em;
}

img {
	width: 400px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: 5px solid white;
}

a {
	float: right;
	margin-top: -50%;
	margin-right: 100px;

}
